{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Software Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is Kramer Jensen, and I am a software developer with a
          great passion for coding and working on large applications as
          well as solving complex issues. Learning is one of my strengths
          along with dedication to the product.
        </p>
        <p>
          This my personal blog site project called Bloggo. It is basically to
          quickly showcase my skills for a full stack "from scratch" Python
          application utilizing the flask framework. This is also using a CSS
          template. This project has full CRUD functionality for an administrator as well
          as a UI for users that can register an account and login to their profile.
          They are also able to leave comments under the blogs in the comment section
          as well as deleting their own comments. Anonymous users who don't have an
          account can view the blogs, but they are unable to comment on the blogs.
        </p>
        <p>
          Please visit the source code at the bottom of this page...
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
